*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* GOOGLE TİTTLE FONTS LİBRARY */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Inter:wght@300;500;600;700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@200;300;400&display=swap');

/* GOGLE TİTTLE SHOURT CUT */

/* 
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
 */


/* BTN */
.btn-primary {
    padding: 10px 30px;
    background-color: #000;
    color: #ffcb04;
    border: 3px solid transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn-primary2 {
    padding: 10px 30px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn-primary3 {
    padding: 14px 130px;
    background-color: var(--exxen-yellow);
    color: var(--black);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    border: none;
}

/* FORM İNPUT */

.input {
    background-color: #ffffff;
    color: #090909;
    padding: 14px 20px;
    border: 2px groove #f2f2f2;
    width: 21%;
}

::placeholder {
    color: #090909;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

/* EXXEN SCROOL SETTİNGS */

::-webkit-scrollbar{
    background-color: #0f0f0f;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--exxen-yellow);
    border-radius: 4px;
}

:root {
    --exxen-yellow: #ffcb04;
    --black: #000;
    --white: #fff;
}

/* MEDİA QUERY */

/* TABLES AND DESKTOP RESPONSİVE */
@media (max-width: 1024px) {
    #header-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #main-bg img{
        width: 100%;
    }
    
    #poster-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        gap: 0px; 
    }
        
    .poster-col {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 45%;
    }

    .langue-select {
        display: flex;
    }

    .header-btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    } 

    #poster-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 50%;
        gap: 0px; 
    }
    
    .poster-col {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 45%;
    }
    
}

/* MOBİL RESPONSİVE */
@media (max-width: 768px) {
    #main-nav {
        position: static;
    }

    form {
        flex-direction: column;
    }

    #header-container {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--exxen-yellow);
        padding: 10px;
    } 

    #header-container {
        display: inline-block;
        width: 100%;
        padding: 10px;
    }



    #navbar-container {
        background-color: #0f0f0f;
        padding: 15px;
    }

    .input {
        width: 100%;
    }

    .btn-primary3 {
        padding: 14px 0px;
        font-size: 1.6rem;
        width: 100%;
    }   

    .btn-primary {
        padding: 10px;
        width: 100%;
    }

    .btn-primary2 {
        width: 100%;
    } 

    #main-bg {
        flex-direction: column;
    }
    
    #main-bg img {
        width: 100%;
    }

    #poster-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        gap: 0px; 
    }
    
    .poster-col {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 45%;
    }

    .langue-select {
        display: flex;
    }

    .header-btn {
        display: flex;
        flex-direction: column;
        width: 100%;
    } 

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #footer-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #footer-photo img{
        width: 90%;
        height: 20vh;
    }

    .footer-content {
        width: 100%;
        margin: 40px auto;
        font-size: 1rem;
    }

    .footer-store {
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    
    .footer-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .fa-brands {
        border-radius: 6px;
        padding: 5px;
        font-size: 2rem;
    }

    .footer-end {
        text-align: center;
        margin: auto;
        background-color: #090909;
        padding: 20px;
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
}